$containerBackground: #ffffff;
$headerDarker: #f2785f;
$lightFont: #ffffff;
$lightBackground: #ffffff;
$mainBlack: #000000;
$mainPinc: #f04784;
$produckBtnBorder: #fc5185;
$productPrice: #40403f;
$lineColor: #e3dadb;

//$headerLighter:

@mixin fontPattaya ($weight, $fontSize, $lineHeight) {
    font: $weight #{$fontSize}px/#{$lineHeight}px "Pattaya", serif;
}

@mixin fontRoboto ($weight, $fontSize, $lineHeight) {
    font: $weight #{$fontSize}px/#{$lineHeight}px "Roboto", sans-serif;
}

.hide {
    display: none;
}