@import "./_variables.scss";

.catalog_main {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    border-bottom: 1px solid $headerDarker;

    &-element {

        width: 250px;
        box-sizing: border-box;
        margin: 10px;
        position: relative;
        &-image {

            display: flex;
            justify-content: center;
            
            > div:nth-child(2) {
                //border: 1px solid #fc5185;
                
            }
            img:first-child {
                border: none;
                width: 60px;
                height: 60px;
            }
            &-main {
                box-sizing: border-box;
                border-radius: 12px;
                min-height: 328px;
                min-width: 246px;
                transition: all 0.5s;
                z-index: -1;
                &:hover {
                    transform: scale(1.08);
                }
                
            }
            &:hover > .discount_block {
                    transform: scale(1.4) rotate(15deg);
                    font-weight: 700;
                }
        }
        &-disc_top {
            background-color: #fff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        &-disc_bottom {
            background-color: #fc5185;
            color: #fff;
            @include fontRoboto(400, 14, 16);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        &-price {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            @include fontRoboto(700, 18, 21);

        }
        &-title {
            text-align: center;
            padding: 0 20px;
            @include fontRoboto(400, 14, 16);
        }

    }
}

.discount_block {
    text-align: center;
    border: 1px solid #fc5185;
    border-radius: 6px;
    position: absolute;
    width: 70px;
    color: #fc5185;
    @include fontRoboto(400, 14, 16);
    right: 43px;
    top: 0;
    transition: all .2s;
}

.discount {
    color: #fc5185 !important;
    font-weight: 500 !important;
}

.overline {
    text-decoration: line-through;
}

.new {
    position: absolute;
    left: 25px;
    top: -10px;
}
