.category_list-li {
    @include fontRoboto(400, 20, 20);
    color: $mainBlack;
    list-style: none;
    margin-right: 20px;
    transition: all 0.5s;
    &:hover {
        background-color: $produckBtnBorder;
        border-radius: 6px;
    }
    &:active {
        background-color: $mainBlack;
    }
}

.category_list {
    @include fontRoboto(400, 18, 20);
    color: $mainBlack;
    text-decoration: none;
    &:hover {
        color: $lightFont;
    }
}

p {
    padding: 3px 10px;
}