.home_container {
	max-width: 1144px;
	margin: 0px auto;
	background-color: #fff;
	padding: 20px;
}

.home_main {
	@include fontPattaya(400, 36, 50);
	color: #8c7158;
	text-transform: uppercase;
	background-color: rgba(242, 120, 92, 0.3);

	&-theme {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
		border-bottom: 20px solid rgba(242, 120, 92, 0.5);
		padding: 10px;
		background-color: #fff;

		&-left {
			//max-width: 640px;
			max-height: 524px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 1;
			position: relative;
			@media (max-width: 1245px) {
				width: 100%;
				max-width: 785px;
				min-height: 490px;
			}
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&-first {
				display: flex;
				justify-content: center;
				height: 150px;
				background-image: url("../img/corner_border.png");
				background-repeat: no-repeat;
				background-position: 0 0;
				span {
					display: inline;
					@include fontPattaya(400, 36, 50);
					margin: 16px 25px;
					text-align: center;
					max-width: 400px;
				}
			}
			&-second {
				display: flex;
				justify-content: center;
				margin: 0;
			}
			&-third {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-image: url("../img/corner_border_b.png");
				background-repeat: no-repeat;
				background-position: 100% 0;
				height: 155px;
				span {
					text-align: center;
				}
				span:first-child {
					margin-top: 20px;
				}
				span:last-child {
					margin: 25px;
				}
			}
		}

		&-right {
			img {
				padding: 0;
				margin: 0;
				max-height: 522px;
				@media (max-width: 1245px) {
					min-height: none;
					width: 100%;
				}
				//max-width: 766px;
			}
		}

		&-button {
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 340px;
			height: 70px;
			background: #ffffff;
			border: 3px solid $headerDarker;
			box-sizing: border-box;
			box-shadow: 0px 4px 4px rgba(252, 81, 133, 0.25);
			border-radius: 10px;
			button {
				border: none;
				background: #fc5185;
				box-shadow: 0px 4px 4px rgba(191, 48, 115, 0.4);
				border-radius: 10px;
				width: 320px;
				height: 60px;
				color: #fff;
				font-size: 24px;
				font-weight: 700;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				cursor: pointer;
				transition: 0.2s;
				&:active {
					background-color: $headerDarker;
					transform: scale(0.95);
				}
			}
		}
	}

	&-head {
		&-name {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			@media (max-width: 720px) {
				flex-direction: column;
			}
			span {
				height: 3px;
				width: 195px;
				background-color: #8c7158;
				transition: all 1s;
				@media (max-width: 720px) {
					width: 100px;
				}
			}
			p {
				max-width: 275px;
				font-family: "Pattaya";
				font-style: normal;
				font-weight: 400;
				font-size: 48px;
				line-height: 67px;
				text-align: center;
				color: #8c7158;
			}
		}
		&-links {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			padding: 10px 30px 10px;
			font-family: "Pattaya";
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 33px;
			text-align: center;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			a {
				color: #8c7158;
				text-decoration: none;
			}
		}
		&-buttons {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding-top: 17px;
			min-height: 350px;
			background: rgba(242, 120, 92, 0.2);
			box-shadow: 0px 4px 4px rgba(242, 120, 92, 0.25);
			div {
				display: flex;
				justify-content: center;
				margin: 3px;
				align-items: center;
				height: 278px;
				min-width: 278px;
				background-color: $lightBackground;
				box-shadow: 0px 4px 4px rgba(242, 120, 92, 0.25);
				border-radius: 278px;
				a {
					width: 130px;
					font-family: "Roboto";
					font-style: normal;
					font-weight: 700;
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					text-transform: uppercase;
					color: $lightFont;
					text-decoration: none;
				}
			}
			&-idea {
				background-image: url("../img/btn_idea.png");
				background-repeat: no-repeat;
				background-position: 55% 55%;
			}
			&-set {
				background-image: url("../img/btn_set.png");
				background-repeat: no-repeat;
				background-position: 35% 35%;
			}
			&-quiz {
				background-image: url("../img/btn_quiz.png");
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
			&-craft {
				background-image: url("../img/btn_craft.png");
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
		}
	}

	&-title {
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@include fontRoboto(700, 24, 28);
		letter-spacing: 0.2em;
		text-transform: uppercase;
		padding-bottom: 30px;
		padding-top: 50px;
		position: relative;
		@media (max-width: 820px) {
			flex-direction: column;
		}
		span {
			display: block;
			height: 2px;
			width: 180px;
			background-color: $titleSpan;
		}
		p {
			margin: 20px;
		}
		&-ball {
			position: absolute;
			right: 2px;
			top: 5px;
		}
		&-pencil {
			position: absolute;
			left: 0px;
			top: 5px;
		}
	}

	&-workshop {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		&-element {
			box-sizing: border-box;
			&-image {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 20px 0;
				height: 465px;
				width: 340px;
				border: 1px solid $produckBtnBorder;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 20px;
				box-sizing: border-box;
				div {
					width: 100%;
					height: 383px;
					box-sizing: border-box;
					background: $produckBtnBorder;
					border: 1px solid $produckBtnBorder;
					box-shadow: 0px 3.30588px 3.30588px rgba(0, 0, 0, 0.25);
					border-radius: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						display: block;
						background: $produckBtnBorder;
						border: 3px solid $lightFont;
						box-shadow: 0px 3.30588px 3.30588px rgba(0, 0, 0, 0.25);
						border-radius: 20px;
					}
				}
			}
		}
	}
	&-buttons {
		@media (max-width: 1110px) {
			display: flex !important;
			justify-content: space-between !important;
			gap: 0 !important;
		}
	}
}

.artefact {
	&_1 {
		border-radius: 19px;
		position: absolute;
		width: 19px;
		height: 19px;
		left: 34px;
		top: 6%;
		background: radial-gradient(
			50% 50% at 50% 50%,
			#fc5185 0%,
			rgba(252, 81, 133, 0.5) 100%
		);
	}
	&_2 {
		border-radius: 19px;
		position: absolute;
		width: 19px;
		height: 19px;
		left: 46%;
		top: 13%;
		background: radial-gradient(
			50% 50% at 50% 50%,
			#d96907 0%,
			rgba(217, 105, 7, 0.5) 100%
		);
		opacity: 0.9;
	}
	&_3 {
		border-radius: 19px;
		position: absolute;
		width: 19px;
		height: 19px;
		left: 51%;
		top: 71%;
		background: radial-gradient(
			50% 50% at 50% 50%,
			#364f6b 0%,
			rgba(54, 79, 107, 0.5) 100%
		);
	}
	&_4 {
		border-radius: 30px;
		position: absolute;
		width: 30px;
		height: 30px;
		right: 200px;
		top: 75%;
		background: radial-gradient(
			50% 50% at 50% 50%,
			#364f6b 0%,
			rgba(54, 79, 107, 0.5) 100%
		);
	}
	&_5 {
		border-radius: 30px;
		position: absolute;
		width: 30px;
		height: 30px;
		right: 0px;
		top: 30%;
		background: radial-gradient(
			50% 50% at 50% 50%,
			#8c7158 0%,
			rgba(140, 113, 88, 0.5) 100%
		);
	}
}
