// * div {
//     border: 1px solid black;
// }

.home_main {
    &-blocks {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    &-buttons {
        display: flex;
        justify-content:flex-start;
        margin-top: 30px;
        gap: 34%;
    }
}

.home {
        
    display: flex;
    //margin: 0 35px;

    &_element {
        width: 528px;
        box-sizing: border-box;
        //flex: 1;
        min-height: 150px; 
        //flex-direction: column;
        //justify-content: center;
        margin: 0 auto;
        border: 1px solid $produckBtnBorder;
        border-radius: 20px;
        padding: 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &-top {
            &-left {
                display: block;
                box-sizing: border-box;
                height: 3px;
                width: 150px;
                background-color: $headerDarker;
            }
        }
    
        &-middle {
            display: flex;
            justify-content: space-between;
            &-left {
                width: 3px;
                &-top {
                    display: block;
                    box-sizing: border-box;
                    height: 150px;
                    background-color: $headerDarker;
                }
            }
            &-centre {
                flex: 1;
                // background-image: url("../img/craft_bkg.svg");
                // background-size: cover;
                // background-repeat: no-repeat;
                // background-position: 20px -30px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 450px;
            }
            &-right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 3px;
                &-bottom {
                    
                    display: block;
                    box-sizing: border-box;
                    height: 150px;
                    width: 3px;
                    background-color: $headerDarker;
                }
            }
        }
        &-bottom {
            display: flex;
            justify-content: flex-end;
            &-right {
                display: block;
                box-sizing: border-box;
                height: 3px;
                width: 150px;
                background-color: $headerDarker;
            }
        }
        &-bkg {
            &-craft {
                background-image: url("../img/craft_bkg.svg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 20px -30px;
            }
            &-paint {
                background-image: url("../img/palette.svg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: -5px 25px;
            }
            &-model {
                div {
                    height: 290px ;
                    width: 380px;
                    background: linear-gradient(180deg, rgba(239, 152, 51, 0.7) 0%, rgba(239, 152, 51, 0.3) 100%);
                    border: 3px solid #F2785C;
                    box-shadow: 0px 4px 4px rgba(242, 120, 92, 0.5);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                p {
                    border: 10px solid $headerDarker;
                    border-radius: 260px;
                }
            }
            &-decor {
                background-image: url("../img/decoration.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: -10px 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-size: 95%;
                p {
                    border: 10px solid $headerDarker;
                    border-radius: 260px;
                }
            }
            &-flora {
                background-image: url("../img/petals.svg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 10px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-size: 50%;
                p {
                        border: 10px solid $headerDarker;
                        border-radius: 260px;
                    }
            }
        } 
    }
}
