@import "./_variables.scss";

.image_box {
    display: flex;
    max-height: 537px;
    width: 540px;
    gap: 33px;
    margin: 20px;
    &-combo {
        overflow: scroll;
        scrollbar-width: none;
        overflow-x:hidden;
        div {
            img {
                max-width: 80px;
                cursor: pointer;
                border: 1px solid $mainPinc;
                border-radius: 5px;
                transition: border-color 0.2s;
                box-sizing: border-box;
                &:hover {
                    border-color: $mainBlack;
                    border: 2px solid $mainPinc;
                }
                &:active {
                    border-color: $lightBackground;
                }
            }
        }
    }

    &-mono {
    //position: relative;
    transition: all 0.2s;
        img {
            width: 400px;
            height: auto;
            border-radius: 5px;
            cursor: zoom-in;
            &:hover {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); 
                width: auto;
                height: 95vh;
                z-index: 100;
                border-radius: 10px;
                cursor:zoom-out;
                border: 1px solid $headerDarker;
            }
        }
        div {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $headerDarker;
            height: 35px;
            width: 35px;
            border-radius: 35px;
            color: $headerDarker;
            @include fontRoboto(700, 14, 30);
            top: 10px;
            right: 17px;
            background-color: $lightBackground;
        }
    }
}