@import "./_variables.scss";

.image_box {
	display: flex;
	max-height: 537px;
	width: 540px;
	gap: 33px;
	margin: 20px;
	opacity: 0;
	transition: 0.5s;
	animation: show 0.5s 1;
	animation-fill-mode: forwards;
	&-combo {
		overflow: auto;
		scrollbar-width: none;
		overflow-x: hidden;
		div {
			img {
				max-width: 80px;
				cursor: pointer;
				border: 1px solid $mainPinc;
				border-radius: 5px;
				transition: border-color 0.2s;
				box-sizing: border-box;

				&:hover {
					border-color: $mainBlack;
					border: 2px solid $mainPinc;
				}
				&:active {
					border-color: $lightBackground;
				}
			}
		}
	}

	&-mono {
		position: relative;
		transition: all 0.2s;

		div {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid $headerDarker;
			height: 35px;
			width: 35px;
			border-radius: 35px;
			color: $headerDarker;
			@include fontRoboto(700, 14, 30);
			top: 10px;
			right: 17px;
			background-color: $lightBackground;
		}
		img {
			width: 400px;
			height: auto;
			border-radius: 5px;
			cursor: zoom-in;
			// opacity: 0;
			// transition: 0.6s;
			// animation: show 0.6s 1;
			// animation-fill-mode: forwards;
		}
	}
	&-zoom {
		position: fixed;
		height: 90vh;
		width: fit-content;
		background-color: white;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		border: 1px solid black;
		z-index: 100;
		padding: 15px;
		box-sizing: border-box;
		border-radius: 10px;
		border: 1px solid $headerDarker;
		box-shadow: -2px 2px 8px 13px rgba(34, 60, 80, 0.16);

		opacity: 0;
		transition: 0.2s;
		animation: show 0.2s 1;
		animation-fill-mode: forwards;

		img {
			object-fit: cover;
			cursor: zoom-out;
			height: 100%;
		}
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
