.catalog_main {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    &-element {
        width: 23%;
        box-sizing: border-box;
        margin: 10px;
        &-image {
            display: flex;
            justify-content: center;
            position: relative;
            img:first-child {
                border: none;
                width: 60px;
                height: 60px;
            }
            img {
                height: 328px;
                width: 246px;
                border: 1px solid #fc5185;
            }
        }
        &-disc_bottom {
            background-color: #fc5185;
            color: #fff;
        }
        &-price {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
        }
        &-title {
            text-align: center;
            padding: 0 20px;
        }

    }
}

.hide {
    display: none;
}

.discount_block {
    text-align: center;
    border: 1px solid #fc5185;
    position: absolute;
    color: #fc5185;
    font-weight: 500;
    right: 43px;
}

.discount {
    color: #fc5185;
    font-weight: 500;
}

.overline {
    text-decoration: line-through;
}

.new {
    position: absolute;
    left: 25px;
    top: -15px;
}