@import "./_variables.scss";

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include fontRoboto(400, 14, 16);
    position: relative;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.container {
    max-width: 1440px;
    min-height: 100px;
    margin: 0 auto;
    background-color: $containerBackground;
}

.narrow_container {
    max-width: 1144px;
    margin: 0px auto;
}
